@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.main-linear-gradient {
  background: linear-gradient(90deg, #70FFCB 0%, #34AAFFDE 24.94%, rgba(219, 115, 255, 0.82) 47.52%, rgba(255, 56, 152, 0.93) 68.92%, rgba(255, 131, 17, 0.92) 90.92%, #FF0000 114.11%, #FF001F 114.12%);
}
